[Unit]
Description=Redshift
After=network.target    

[Service]
ExecStart=/usr/local/bin/start_redshift
Type=simple
Environment="DISPLAY=:0" "XAUTHORITY={{ user.home_path }}/.Xauthority"
RestartSec=10

[Install]
WantedBy=default.target
