#!/bin/bash

dconf write /org/gnome/shell/favorite-apps "[{% for favorit in gnome_desktop_favorites %}
'{{ favorit }}'{% if loop.index != gnome_desktop_favorites|length 
%}, {% endif %}{% endfor %}]"
